---
layout: categories
permalink: /categories/
title: Tags
description: Browse all posts by topic
search_exclude: true
---

{% if site.categories.size > 0 %}

  {% assign categories = "" | split:"" %}
  {% for c in site.categories %}
    {% assign categories = categories | push: c[0] %}
  {% endfor %}
  {% assign categories = categories | sort_natural %}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

  <div class="tag-cloud">
  {% for category in categories %}
    {% assign count = site.categories[category].size %}
    {% if count >= 8 %}{% assign tag_size = "tag-5" %}
    {% elsif count >= 5 %}{% assign tag_size = "tag-4" %}
    {% elsif count >= 3 %}{% assign tag_size = "tag-3" %}
    {% elsif count >= 2 %}{% assign tag_size = "tag-2" %}
    {% else %}{% assign tag_size = "tag-1" %}
    {% endif %}
    <a class="{{ tag_size }}" href="#{{ category }}">{{ category }}&nbsp;({{ count }})</a>
  {% endfor %}
  </div>

  <hr>

  {% for category in categories %}
      <h3 id ="{{ category }}"><i class="fas fa-tags category-tags-icon"></i> {{ category }}</h3>
      <a name="{{ category | slugify }}"></a>
      {% for post in site.categories[category] %}
        {% if post.hide != true %}
        <article class="archive-item">
          <p class="post-meta post-meta-title"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
        </article>
        {% endif %}
      {% endfor %}
  {% endfor %}

{% endif %}
