[submodule "_posts/compilation-of-3d-mesh-model-resources"]
	path = _posts/compilation-of-3d-mesh-model-resources
	url = git://github.com/zshn25/compilation-of-3d-mesh-model-resources.git
	branch = master
