<div class="Box box-shadow-medium border-0 rounded-1 col-12 post-card {% if include.compact %}card-compact{% endif %}">
  {%- if post.image -%}
  <div class="post-card-image">
    <a href="{{ post.url | relative_url }}">
    <img class="image-preview" src="{{ post.image | relative_url }}" loading="lazy" alt="{{ post.title | escape }}" /></a>
  </div>
  {%- endif -%}
  <div class="post-card-body">
    {% if post.featured %}<span class="featured-badge"><i class="fas fa-star"></i> Featured</span>{% endif %}
    <h3>
      {% if post.link %}
      <a class="post-link" href="{{ post.link }}" target="_blank">
        {{ post.title | escape }}
        <sup><i class="fas fa-external-link-alt" style="font-size: 75%"></i></sup> </a>
      {% else %}
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
      {% endif %}
    </h3>
    {% unless include.compact %}<p class="post-meta-description">{{ post.description }}</p>{% endunless %}
    <p class="post-meta"><i class="far fa-calendar-alt"></i>  {{ post.date | date: date_format }}
      • <i class="far fa-clock"></i> {% include reading_time.html post_content=post.content %}</p>

        {% if post.categories.size > 0 and site.show_tags %}
        <p class="category-tags"><i class="fas fa-tags category-tags-icon"></i>
          {% for category in post.categories %}
          <a class="category-tags-link" href="{{ '/?tag=' | append: category | downcase | relative_url }}">#{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
        </p>
        {% endif %}
  </div>
</div>
