{% if include.pageurl != nil and include.pageurl != '' %}
    {% assign pageurl = include.pageurl %}
{% else %}
    {% assign pageurl = page.url %}
{% endif %}

<section class="page-share" aria-label="Share this post">
  <h4 class="page-share-title">Share on</h4>
  <a href="https://x.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ pageurl | url_encode }}" class="share-btn share-btn--x" rel="noopener noreferrer" target="_blank" aria-label="Share on X" onclick="window.open(this.href,'share','width=550,height=435');return false;">
    <i class="fab fa-fw fa-twitter" aria-hidden="true"></i><span> X</span>
  </a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ pageurl | url_encode }}" class="share-btn share-btn--facebook" rel="noopener noreferrer" target="_blank" aria-label="Share on Facebook" onclick="window.open(this.href,'share','width=550,height=435');return false;">
    <i class="fab fa-fw fa-facebook" aria-hidden="true"></i><span> Facebook</span>
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ pageurl | url_encode }}" class="share-btn share-btn--linkedin" rel="noopener noreferrer" target="_blank" aria-label="Share on LinkedIn" onclick="window.open(this.href,'share','width=550,height=435');return false;">
    <i class="fab fa-fw fa-linkedin-in" aria-hidden="true"></i><span> LinkedIn</span>
  </a>
  <a href="mailto:?subject={{ page.title | url_encode }}&body={{ site.url }}{{ pageurl | url_encode }}" class="share-btn share-btn--email" aria-label="Share via Email">
    <i class="fas fa-fw fa-envelope" aria-hidden="true"></i><span> Email</span>
  </a>
</section>
