{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
  {%- for link in social -%}
    {%- if link.platform == "github" -%}
      <li><a rel="me" href="{{ link.user_url }}" target="_blank" title="GitHub"><i class="fab fa-github grey" title="GitHub"></i></a></li>
    {%- elsif link.platform == "twitter" -%}
      <li><a rel="me" href="{{ link.user_url }}" target="_blank" title="Twitter"><i class="fab fa-twitter grey" title="Twitter"></i></a></li>
    {%- elsif link.platform == "linkedin" -%}
      <li><a rel="me" href="{{ link.user_url }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin grey" title="LinkedIn"></i></a></li>
    {%- elsif link.platform == "facebook" -%}
      <li><a rel="me" href="{{ link.user_url }}" target="_blank" title="Facebook"><i class="fab fa-facebook grey" title="Facebook"></i></a></li>
    {%- elsif link.platform == "instagram" -%}
      <li><a rel="me" href="{{ link.user_url }}" target="_blank" title="Instagram"><i class="fab fa-instagram grey" title="Instagram"></i></a></li>
    {%- elsif link.platform == "youtube" -%}
      <li><a rel="me" href="{{ link.user_url }}" target="_blank" title="YouTube"><i class="fab fa-youtube grey" title="YouTube"></i></a></li>
    {%- elsif link.platform == "mastodon" -%}
      <li><a rel="me" href="{{ link.user_url }}" target="_blank" title="Mastodon"><i class="fab fa-mastodon grey" title="Mastodon"></i></a></li>
    {%- elsif link.platform == "google_scholar" -%}
      <li><a rel="me" href="{{ link.user_url }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar grey" title="Google Scholar"></i></a></li>
    {%- else -%}
      <li><a rel="me" href="{{ link.user_url }}" target="_blank" title="{{ link.platform }}">{{ link.platform }}</a></li>
    {%- endif -%}
  {%- endfor -%}
</ul>