// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    1000px;
$on-palm:          800px;
$on-laptop:        1000px;
$on-medium:        1000px;
$on-large:         1200px;

$header-height: 60px;

$curiosity-main: #9966ff;
$curiosity-complementary: #00b199;
$curiosity-main-light: #9999ff;
$curiosity-main-dark: #7a51cc;

$background-color: white;
$post-content-color: #515151;