/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// image captions
// https://stackoverflow.com/a/30366422 [CC BY-SA 3.0](https://creativecommons.org/licenses/by-sa/3.0/)
img + em {
    text-align: center;
    font-size: .8rem;
    font-style: italic;
    color: light-grey;
} 
//image captions


// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
