/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// image captions
// https://stackoverflow.com/a/30366422 [CC BY-SA 3.0](https://creativecommons.org/licenses/by-sa/3.0/)
img + em {
    text-align: center;
    font-size: .8rem;
    font-style: italic;
    color: light-grey;
} 
//image captions

// Share on buttons
#share-buttons {display: inline-block; vertical-align: middle; }
#share-buttons:after {content: ""; display: block; clear: both;}
#share-buttons > div {
    position: relative;
    text-align: left; 
    height: 36px; 
    width: 32px; 
    float: left; 
    text-align: center;
}
#share-buttons > div > svg {height: 16px; fill: #aaaaaa;
                             margin-top: 10px;}
#share-buttons > div:hover {cursor: pointer;}
#share-buttons > div.facebook:hover > svg {fill: #3B5998;}
#share-buttons > a.facebook:hover > svg {fill: #3B5998;}
#share-buttons > div.twitter:hover > svg {fill: #55ACEE;}
#share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
#share-buttons > div.pinterest:hover > svg {fill: #CB2027;}
#share-buttons > div.gplus:hover > svg {fill: #dd4b39;}
#share-buttons > div.mail:hover > svg {fill: #7D7D7D;}
#share-buttons > div.instagram:hover > svg {fill: #C73B92;}
#share-buttons > div.facebook > svg {height: 18px; margin-top: 9px;}
#share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
#share-buttons > div.linkedin > svg {height: 19px; margin-top: 7px;}
#share-buttons > div.pinterest > svg {height: 20px; margin-top: 9px;}
#share-buttons > div.gplus > svg {height: 17px; margin-top: 9px; position: relative; left: 1px;}
#share-buttons > div.mail > svg {height: 14px; margin-top: 11px;}

.no-text-wrap {
    white-space: nowrap;
  }

#nav-switch-theme {
    /* We will make it visible with JavaScript
     * as it does not work without it */
    display: none;
    cursor: pointer;
  }
.nav-theme-icon:before {
    color: var(--warning);
    font-size: 0.875em;
    content: "\f186";
  }

// External links
// a[href]:not(:where(
//     /* exclude hash only links */
//     [href^="#"],
//     /* exclude relative but not double slash only links */
//     [href^="/"]:not([href^="//"]),
//     /* domains to exclude */
//     [href*="//zshn25.github.io"],
//   )):after {
//     content: ' ' url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNqEkIEJwCAMBGPpEs7hHK6hY+gauoZr6Bo6RtqEWkxb6EMQnuM/USEirIoxSmOKwDkhBEwp4VPkb4801Xun9xW4e+9FldYarLUvkBPPOp4JGWOgtSaSt6VWQKUU9nPOEiSIgAmNMdadFTjn7utqrXwh6fLvH9nXhamW5ksMnpfDnw4BBgBfunO056MmqAAAAABJRU5ErkJggg==);
//   }
// a[rel*="external"]::after
// Purple links and text selection
a:link {
  color: $curiosity-main-dark;
}
a:visited {
  color: $curiosity-main-dark;
}

::selection
{
    background: $curiosity-main;
    color: white;
    text-shadow: none;
}
::-moz-selection
{
    background: $curiosity-main;
    color: white;
    text-shadow: none;
}

@media (prefers-color-scheme: dark) {
  // Styles for dark mode here
  @import "minima/dark-mode";
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
// @import "minima/dark-mode"
// @import "minimal-mistakes/variables";
// @import "minimal-mistakes/breakpoint/breakpoint";
// @import "minimal-mistakes/mixins";
// @import "minimal-mistakes/sidebar";
// @import "minimal-mistakes/navigation";

// Bulma buttom elements for Nerfies like buttons for paper, code, video, etc.
// @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/sass/utilities/_all.sass";
// @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/sass/elements/button.sass";

.button {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}

.button[disabled] {
  cursor: not-allowed;
}
.button[disabled],
fieldset[disabled] .button {
  background-color: white;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: 0.5;
}
.button.is-dark[disabled],
fieldset[disabled] .button.is-dark {
  background-color: #363636;
  border-color: #363636;
  box-shadow: none;
}
.button.is-rounded {
  border-radius: 290486px;
  padding-left: calc(1em + .25em);
  padding-right: calc(1em + .25em);
}
.button.is-normal {
  font-size: 1rem;
}
.button.is-big {
  font-size: 1.5rem;
}
.button.is-dark {
  background-color: #363636;
  border-color: transparent;
  color: #fff;
}